#a{
    text-align: center;
    font-size: 30px;
    color: #1f05a3;



}

#b{
    text-align: center;
    color: #208304;
}

#c{
    text-align: center;
    color: #a906f5;
}

#qqq{
    text-align: center;
}