body{
    background: greenyellow;
}
.con-main{
    background-color:blueviolet ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height:200px;
    gap: 20px;

}
.A{
    display: grid;
    justify-content: right;
    text-align: right;
   position: absolute;
   right: 80%;
}
.con1{
    background: rgb(241, 229, 7);
    
}
.con2{
    background: pink;
}
.con3{
    background: lightslategrey;
}
.con4{
    background: lightcoral;
}

@media screen and (max-width:660px){
    .con-main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}
.con5{
    background-color: red;
    
}